.flex-calc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    border: 3px solid red;
    height: 150px;
    width: 150px;
}
.button {
    color: white;
    background-color: gray;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 16px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}