body {
    background-color:cyan;
}

li {
    font-size: 18px;
    background-color: orange;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
img {
    float: right;

}
img {
    position: relative;
    bottom: 100px;
}